body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#term {
  background-color: rgba(0, 0, 0, 0.8);
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.term_monitor {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.term_buttons {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
}
.term_buttons > button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 30px;
  background-color: lightyellow;
  cursor: pointer;
  transition-duration: 0.2s;
}
.term_buttons > button > svg {
  width: 100%;
  height: 100%;
}
.term_buttons > button:hover {
  opacity: 0.9;
}
.term_buttons > button:active {
  transform: scale(0.95);
}
.t1 {
  box-shadow: 0px 0px 100px 1000px #0166fe30;
}
.t1 .term_monitor {
  background-color: #0165fe;
  color: white;
}
.t2 {
  box-shadow: 0px 0px 100px 1000px #009aff30;
}
.t2 .term_monitor {
  background-color: #009aff;
  color: white;
}
.t3 {
  box-shadow: 0px 0px 100px 1000px #04cdfe30;
}
.t3 .term_monitor {
  background-color: #04cdfe;
}
.t4 {
  box-shadow: 0px 0px 100px 1000px #9fe7fd30;
}
.t4 .term_monitor {
  background-color: #9fe7fd;
}
.t5 {
  box-shadow: 0px 0px 100px 1000px #d0f8fb30;
}
.t5 .term_monitor {
  background-color: #d0f8fb;
}
.t6 {
  box-shadow: 0px 0px 100px 1000px #fcfee530;
}
.t6 .term_monitor {
  background-color: #fcfee5;
}
.t7 {
  box-shadow: 0px 0px 100px 1000px #feff6730;
}
.t7 .term_monitor {
  background-color: #feff67;
}
.t8 {
  box-shadow: 0px 0px 100px 1000px #feff6730;
}
.t8 .term_monitor {
  background-color: #feff67;
}
.t9 {
  box-shadow: 0px 0px 100px 1000px #fd993330;
}
.t9 .term_monitor {
  background-color: #fd9933;
  color: white;
}
.t10 {
  box-shadow: 0px 0px 100px 1000px #fe330030;
}
.t10 .term_monitor {
  background-color: #fe3300;
  color: white;
}

